.cartestertiaires{
    background-color: var(--color-defond);
    .cards{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
        justify-content: space-between;
    }
    span{
        display: inline-flex;
        padding: 15px;
        align-items: center;
        background-color: var(--color-icones);
        position: absolute;
        top: 2%;
        right: 3%;
    }

    .card{

        background-color: white;

        display: flex;
        flex-direction: column;

        gap: 50px;
        justify-content: center;

        position: relative;

        .card_icon{
            width: 50px;
            height: 50px;
        }
        .titre{
            color: black;
            font-weight: bold;
            padding-left: 20px;
            padding-left: 20px;
            padding-top: 5px;
        }
        .textcard{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            color: black;
            gap: 10px;
            ul{
                list-style: none;
            }

            .criteres{
                display: inline;
            }
            .informations{
                display: inline;
            }
        }
        .plus{
            color: black;
            text-align: center;
        }
    }
    .card1{

        background-color: white;
        display: flex;
        flex-direction: column;

        gap: 50px;
        justify-content: center;

        position: relative;

        .card_icon{
            width: 50px;
            height: 50px;
        }
        span{
            display: inline-flex;
            padding: 15px;
            align-items: center;
            background-color: var(--color-icones);
            position: absolute;
            top: 2%;
            right: 2%;
        }
        .titre{
            color: black;
            font-weight: bold;
            padding-left: 20px;
           }

        .textcard{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            color: black;
            gap: 10px;
            ul{
                list-style: none;
            }

            .criteres{
                display: inline;
            }
            .informations{
                display: inline;
            }
        }
        .vide{
            color: white;
        }
    }

    .gras{
        font-weight: bold;
    }

    .couleur{
        color: var(--color-text);
    }

    .petitebarre{
        background-color: var(--color-lineseparation);
        color: var(--color-lineseparation);
        height: 2px;
    }
    .wrapper{
        padding: 50px;
        background-color: var(--color-projet);
        h2{
            text-align: left;
        }
        padding-top: 0px;
    }

    @media screen and (max-width: $breakpoint-mobile) {
        .cards{
            display: flex;
            flex-direction: column;
        }
    }

}
