.filtre{
    background-color: var(--color-projet);
    .wrapper{
        background-color: var(--color-defond);
    }
    .enteteselection{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: space-between;

        ul{
            list-style: none;
            display: inline-flex;
            gap: 45px;
        }
        h2{
            margin-top: 30px;
        }
    }
}
