.filtre{
    background-color: var(--color-suivie);
    .wrapper{
        background-color: var(--color-suivie);
    }
    .enteteselection{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-content: space-between;

        ul{
            list-style: none;
            display: inline-flex;
            gap: 45px;
            color: black;
        }
        h2{
            margin-top: 25px;
            margin-left: 35px;
            color: var(--color-orange);
        }
    }
}
