.footer{
    background-color: var(--color-grisBackground);
    .rangees{
        display: flex;
        display: grid;
     //   grid-template-columns: repeat(5, 1fr);
        justify-content: space-between;

        grid-template-columns: 0.5fr 2fr 2fr 2fr 2fr;


        strong{
            color: var(--color-grasFooter);
            font-size: 16px;
            text-transform: uppercase;
        }
    }
    .header_brand{
        img{
            margin-top: 70px;
            rotate: -50deg;
        }
    }
    .rangee2 li{
        display: list-item;
        list-style: none;
        color: var(--color-grisFooter);
    }

    .rangee3 li{
        display: list-item;
        list-style: none;
        color: var(--color-grisFooter);
    }

    .rangee4 li{
        display: list-item;
        list-style: none;
        color: var(--color-grisFooter);
    }
    .rangee5 li{
        display: inline;
        list-style: none;
        color: var(--color-grisFooter);
    }

    .fin {
        display: flex;
        li{
            display: inline;
            list-style: none;
            color: var(--color-grisFooter);
        }
        .motdefin{
            display: flex;
            gap:40px;
            justify-content: space-between;
            padding-left: 100px;
        }
    }

    .petitebarre{
        background-color: var(--color-orange);
        color: var(--color-orange);
    }
}
