.graphcontribution{
    background-color: var(--color-defond);
    color: var(--color-black-text);

    .cardgraphcontribution{
        //    align-items: center;
        background-color: white;
        margin-top: 0px;
        //     text-align: center;
        display: flex;
        flex-direction: column;

        //    display: grid;
        //    grid-template-columns:  3fr 1fr;
        gap: 50px;
        justify-content: center;

        position: relative;

        .card_icon{
            width: 50px;
            height: 50px;
        }

        .card_iconMobile{
            display: none;
        }

        span{
            display: inline-flex;
            padding: 15px;
            align-items: center;
            background-color: var(--color-icones);
            position: absolute;
            top: 1%;
            right: 1%;
        }
    }

    .cardgraphcontributionMobile{
        display: none;
    }

    .wrapper{
        padding: 50px;
        background-color: var(--color-projet);
        h2{
            text-align: left;
        }
        padding-top: 0px;
    }

    h5{
        padding-left: 10px;
        padding-top: 20px;
    }

    @media screen and (max-width: $breakpoint-mobile) {
    }
}
