header{
    background-color: var(--color-defond);
    ul{
        list-style: none;
      //  gap: px;
    }

    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header_nav{
        color: var(--color-nav);
        font-size: 16px;
        padding-left: 0;
        ul{
            display: flex;
            justify-content: space-between;
            gap: 110px;
        }
        li{
            margin: auto;
        }
    }

    .menu-hamburger{
        display: none;
    }
}

@media screen and (max-width: $breakpoint-mobile){
    .header_nav{
        display: none;
    }

    .menu-hamburger{
        padding-left: 0px;
        ul{
            display: flex;
            justify-content: space-between;
            gap: 110px;
        }
    }

}
