.site-container{
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100vh;
    overflow: hidden;
}
aside{
    background-color: var(--color-defond);
    display: flex;
  //  flex-direction: column;
  ///  justify-content: space-between;

    .tableaubordnav{
        display: flex;
        ul{
            list-style: none;
            margin-top: 135px;
            color: black;
            margin-left: 0px;

            .petitebarre{
                background-color: var(--color-orange);
                color: var(--color-orange);
                height: 1px;
            }
        }
        .tableaubord{

        }
    }

}

main{
    overflow-y: scroll;
    background-color: var(--color-background-primary);
}
@media screen and (max-width: $breakpoint-mobile){
    .tableaubord{
        display: none;
    }


}
