.micro{
    .wrapper{
        display: flex;
    }
    .micro_media{
        width: 50%;
    }
    .micro_content{
        width: 50%;
        margin: 20px;
    }

    h10,h6{
        color: black;
    }

    ul{
        display: inline;
        list-style: none;
        /*justify-content: space-between;*/
        /*gap: 80px;*/
        color: var(--color-textbouton);
    }

    .cote{
        display: flex;
        padding-left: 0px;
        ul{
            display: inline;
            list-style: none;
        }
    }
    .representations{
        display: flex;
        justify-content: flex-start;
        padding-left: 0;
        /*ul{
            display: list-item;
        }*/
        .representation1{
            display: block;
            background-color: var(--color-orange);
            height: 20px;
            width: 250px;
        }
        .representation2{
            display: block;
            background-color: var(--color-bouton);
            height: 20px;
            width: 250px;
        }
    }
    .buttons{
        display: flex;
        margin-top: 70px;
        justify-content: space-between;
    }
    .button{
        display: inline-flex;
        background-color: var(--color-bouton);
        padding: 25px;
        color: var(--color-textbouton);
    }
    .buttoncontribution{
        background-color: var(--color-orange);
        margin-top: 30px;
        a{
          padding: 160px;
        }
    }

}
