/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: Sarabun, Helvetica, Arial, sans-serif;
    --font-secondary: Montserra, Helvetica, Arial, sans-serif;

    --font-size-content: 1.6rem;

    --font-size-button: 1.6rem;

    /// Grosseur des textes
    --font-size-h1: 4rem;
    --font-size-h2: 2.8rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.6rem;
    --font-size-h5: 1.4rem;
    --font-size-h6: 1.2rem;
}
